<% provide(:title, "About") %>
<h1>About<h1>
<p><a href ="https://pacific-springs-11543.herokuapp.com/static_pages/help">Help</a>
    <a href ="https://pacific-springs-11543.herokuapp.com">Home</a></p>
