<% provide(:title, "Help") %>
<h1>StaticPages#help</h1>
<p><a href ="https://pacific-springs-11543.herokuapp.com">Home</a>
    <a href ="https://pacific-springs-11543.herokuapp.com/static_pages/About">about</a></p>
