<% provide(:title, "Home") %>

    <h1>StaticPages#home</h1>
    <p><a href ="https://pacific-springs-11543.herokuapp.com/static_pages/help">Help</a>
        <a href ="https://pacific-springs-11543.herokuapp.com/static_pages/About">about</a></p>
